{% extends "base.html" %}
{% block content %}
<h1>Data Dosen</h1><hr><br>
<div class="table-responsive">
    <table class="table table-bordered table-sm table-hover table-striped">
        <thead >
        <tr class="text-center">
            <th scope="col">No.</th>
<!--            <th scope="col">Foto</th>-->
            <th scope="col">NIP</th>
            <th scope="col">Nama</th>
            <th scope="col">Email</th>
            <th scope="col">Telp</th>
            <th scope="col">Aksi</th>
        </tr>
        </thead>
        <tbody>
        {% for data in datas %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
<!--            <td><img-->
<!--                    class="img-fluid"-->
<!--                    src="static/dosen/{{data.fotoPath}}" alt="ppp">-->
<!--            </td>-->
            <td>{{ data.nip }}</td>
            <td>{{ data.nama }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.telp }}</td>
            <td><a href="dosen/{{data.nip}}" class="btn btn-sm btn-outline-primary" role="button"
                   aria-pressed="true">Detail</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
